/* Navigation link styles */

nav {
  background-color: transparent;
}

nav a {
  min-width: 200px;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  font-size: 150%;
  color: #444;
  text-decoration: none;
  text-align: center;
  
}

nav a:hover {
  color: #EF969A;
}

nav a:after {
  
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav a:hover:after {

  width: 100%;
  background: #999;
}

nav a.active {
  color: #999;
}