<div class="container-component">
  <div>
  <md-card class="badge-hero" *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
          <label>{{hero.name}}</label>
  </md-card>
  </div>

  <div class="container-overview">
    <div *ngIf="selectedHero">
      <h2>
        {{selectedHero.name | uppercase}} is selected hero
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
  </div>
</div>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->