<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
    <div>
    <label>Name: </label>
    <md-input #characterCountHint [(ngModel)]="hero.name" placeholder="Name">
    <md-hint align="end">{{characterCountHint.characterCount}} / 100</md-hint>
    </md-input>
  </div>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>Type: </label>{{hero.type}}
  </div>
  <div>
    <label>Level: </label>{{hero.level}}
  </div>
  <div>
    <label>Rank: </label>{{hero.rank}}
  </div>
  <div>
    <label>Power: </label>{{hero.pwr}}
  </div>
  <div>
    <label>Strenght: </label>{{hero.str}}
  </div>
  <div>
    <label>Agility: </label>{{hero.agi}}
  </div>
  <div>
    <label>Endurance: </label>{{hero.end}}
  </div>
  <div>
    <label>Intelligence: </label>{{hero.int}}
  </div>
  <div>
    <label>Heal points: </label>{{hero.hp}}
  </div>
  <div>
    <label>Vitality: </label>{{hero.vit}}
  </div>
  <div>
    <label>Critical average: </label>{{hero.ctc}}
  </div>
  <div>
    <label>Critical value: </label>{{hero.ctv}}
  </div>

  <button md-raised-button (click)="goBack()">Back</button>
</div>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->